# should be placed in ~/.boo/config

[concord]
concordVersion=latest
agentsMin=2
agentsMax=3
ldapUserName=LDAP_SYSTEM_USERNAME
ldapPassword=LDAP_SYSTEM_PASSWORD

apiKey=MY_APIKEY
email=MY_EMAIL
assemblyName=MY_ASSEMBLY_NAME
environmentName=MY_ENV_NAME
host=https://oneops.prod.walmart.com
organization=devtools
dockerRepo=
dockerRoot=/var/lib/docker
dataVolume=/data
