<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%-5level] [%X{instanceId:-}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.walmartlabs.ollie" level="WARN"/>
    <logger name="org.apache.shiro" level="ERROR"/>
    <logger name="org.eclipse.jetty.server" level="WARN"/>
    <logger name="org.javers.core" level="WARN"/>
    <logger name="org.jooq" level="WARN"/>
    <logger name="liquibase" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
