*.iml
*.ipr
*.iws
*.retry
.*.swo
.*.swp
.arcconfig
.classpath
.DS_Store
.idea
.pmd
.pmdruleset.xml
.project
.settings
.vagrant
.vscode
buildNumber.properties
console2/build
flow-typed/
jmeter.log
nb-configuration.xml
node_modules/
nohup.out
npm-debug.log
pom.xml.bak
pom.xml.next
pom.xml.versionsBackup
release.properties
target/
yarn.lock
.mvn/wrapper/maven-wrapper.jar
.java-version
