<!DOCTYPE html>
<html lang="en" th:replace="~{_layout :: layout(~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concord</title>
</head>
<body>
<div th:fragment="content" class="d-flex align-items-center justify-content-center h-100">
    <div class="text-center">
        <h1>404 Not Found</h1>
        <p>
            <a th:href="${basePath} + '/index.html'" class="text-decoration-none">Go back to the main page</a>
        </p>
    </div>
</div>
</body>
</html>
