<!DOCTYPE html>
<html lang="en" th:replace="~{_layout :: layout(~{::content})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concord</title>
</head>
<body>
<div th:fragment="content">
    <!--/*@thymesVar id="process" type="com.walmartlabs.concord.server.process.ProcessEntry"*/-->
    <h3>
        <i class="bi bi-check-circle link-success"
           th:replace="~{_components :: process-status-icon(${process.status()})}"></i>
        <span th:text="${process.instanceId()}">9ff96c10-db1e-42f2-99fc-b951c4b4de90</span>
    </h3>
    <div>
        <p>Status:
            <span th:text="${process.status()}">FINISHED</span>
        </p>
    </div>
</div>
</body>
</html>
