The following Concord API Keys are about to expire in {{days}} days:
{{#keys}}
    '{{name}}' -  will expire at {{expiredAt}}
{{/keys}}

Please replace the expired tokens using the REST API or Concord Console.
