<configuration>
    <property name="OUTPUT_PATTERN"
              value="%date{YYYY-MM-dd'T'HH:mm:ss.SSSZ, UTC} [%-5level] %msg%n%rEx{full, com.sun, sun}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- the UI expects log timestamps in a specific format to be able to convert it to the local time -->
            <pattern>${OUTPUT_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="PROCESS_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- the UI expects log timestamps in a specific format to be able to convert it to the local time -->
            <pattern>%date{YYYY-MM-dd'T'HH:mm:ss.SSSZ, UTC} %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="processLog" level="INFO" additivity="false">
        <appender-ref ref="PROCESS_STDOUT"/>
    </logger>

    <logger name="com.walmartlabs.concord.plugins.log" level="${logLevel:-INFO}"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
