.flexbox-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;

  height: 100%;
}

#concord-logo {
  padding: 1em;
  margin-bottom: 1em;
}
